<div ux-state="home.loaded">
  <div ux-style="widget" >{{i18n.home.loaded.label}}</div>
  <div ux-style="actions">
    <button type="button" ux-event="RETRY">{{i18n.actions.RETRY}}</button>
  </div>
  <div ux-style="link">
    <a href="/charts" ux-event="NAVIGATE">{{i18n.demo.charts}}</a>
  </div>
  <div ux-style="link">
    <a href="/dropdown" ux-event="NAVIGATE">{{i18n.demo.dropdown}}</a>
  </div>
  <div ux-style="link">
    <a href="/modal" ux-event="NAVIGATE">{{i18n.demo.modal}}</a>
  </div>
  <div ux-style="link">
    <a href="/stripe" ux-event="NAVIGATE">{{i18n.demo.stripe}}</a>
  </div>
</div>
